/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*  styles  */

html,
body {
    height: 100%;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
    margin: 0 100px;
    position: relative;
}
.footer {
    flex: 0 0 auto;
}

.ellipse_1{
    position: absolute;
    top: -300px;
    left: -100px;
    width: 585px;
    height:585px;
    border-radius:50%;
    border:1px solid #299429;
    z-index: 0;
}

.ellipse_2{
    position: absolute;
    top:-250px;
    left: -150px;
    width: 585px;
    height:585px;
    border-radius:50%;
    border:1px solid #299429;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 90px 50px 0 50px;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    z-index: 1;
}

.list {
    list-style: none;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.list li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 20px;
}


.td-none {
    text-decoration: none;
}

.buttons {
  margin-top: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.btn {
    width: 142px;
    height: 64px;
    border: 1px solid #299429;
    border-radius: 5px;
    padding: 13px 25px;
}

.black {
  color: #263238;
}

.white {
  color: #FFFFFF;
}

.bg-green {
  background-color: #008000;
}

.green {
  color: #008000;
}

.bg-silver {
  background-color: #A8ADAF;
}

.center {
  text-align: center;
}

.money_bag {
  display: block;
  background-image: url('/assets/images/money-bag.png');
  width: 48px;
  height: 48px;
  position: relative;
  top: 80px;
  left: 60%;
}

.circle {
  display: block;
  position:absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #A8ADAF;
  border-radius: 50%;
  top: 430px;
  left: 50%;
}


.currency_n {
  display: block;
  background-image: url('/assets/images/currency_n.png');
  width: 32px;
  height: 32px;
  position: relative;
  top: 430px;
  right: 10%;
}


.intro {
  max-width: 50%;
  margin: 0 auto;
}

.intro-title {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  margin-top: 140px;
}

.intro-text {
  margin-top: 30px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}

.intro-form {
  margin-top: 60px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.get_started_form {
  position: relative;
  width: 533px;
  margin: 0 auto;
}

.intro_input {
  width: 533px;
  height: 74px;
  border-radius: 5px;
  background-color: #E9EBEB;
  border: 0;
  padding: 4px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.intro-form button {
  position: absolute;
  top: 5px;
  left: 348px;
  width: 180px;
  height: 64px;
}

.get_started_form input[type="text"]::placeholder { 
  text-indent: 15px;
}


/* TODO -> input cursor , fix decoration icons ,  buttons hover


